<a href="https://colab.research.google.com/github/josezoe/SVR/blob/main/svr_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [4]:
salaries=pd.read_csv("Position_Salaries.csv")

In [5]:
salaries

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [39]:
x=salaries.iloc[:,1:-1].values
y=salaries.iloc[:,-1].values

Support Vector Regression

```
# This is formatted as code
```

In [20]:
x.shape

(10, 1)

In [40]:
y.shape

(10,)

In [41]:
y=y.reshape(len(y),1)

In [24]:
y

array([[  45000],
       [  50000],
       [  60000],
       [  80000],
       [ 110000],
       [ 150000],
       [ 200000],
       [ 300000],
       [ 500000],
       [1000000]])

Feature scaling preprecossing the dataset

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
sc_x=StandardScaler()

In [44]:
sc_y=StandardScaler()

In [45]:
x=sc_x.fit_transform(x)

In [47]:
y=sc_y.fit_transform(y)

In [33]:
print(x)

[[-1.5666989 ]
 [-1.21854359]
 [-0.87038828]
 [-0.52223297]
 [-0.17407766]
 [ 0.17407766]
 [ 0.52223297]
 [ 0.87038828]
 [ 1.21854359]
 [ 1.5666989 ]]

In [48]:
print(y)

[[-0.72004253]
 [-0.70243757]
 [-0.66722767]
 [-0.59680786]
 [-0.49117815]
 [-0.35033854]
 [-0.17428902]
 [ 0.17781001]
 [ 0.88200808]
 [ 2.64250325]]

Training the SVR model on the whole dataset

In [50]:
from sklearn.svm import SVR

In [52]:
regressor=SVR(kernel="rbf")

In [53]:
regressor.fit(x,y)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

predict a new result

In [56]:
sc_y.inverse_transform(regressor.predict(sc_x.tranform([[6.5]])).reshape(-1,1))

AttributeError: ignored